

.App {
  background-color: white;
}

.Auth-form-container {
  margin-left: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  height: 100vh;
  opacity: 90%;
  background-color: transparent;
   /* background-color: #0056b3;  */
  
}

.Auth-form {
  background-color: rgba(226, 238, 224, 0.1);

  width: 500px;
  height: auto;
  box-shadow: rgba(12, 8, 18, 0.6) 1px 1px 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  /* background-color: white; */
}

.Auth-form-content {
  /* background-color: chocolate; */

  padding-left: 19%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(12, 1, 1);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.news-portal-editor {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.news-portal-editor h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.news-portal-editor form {
  display: flex;
  flex-direction: column;
}

.news-portal-editor label {
  font-weight: bold;
  margin-bottom: 5px;
}

.news-portal-editor input[type="text"],
.news-portal-editor textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.news-portal-editor button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-portal-editor button:hover {
  background-color: #0056b3;
}
.sb-background {
  background: white url("./Screens/hackathon.png") no-repeat right top / 75%;
  background-repeat: no-repeat;
  height: 25%;
  width: 100%;
  background-size: 35%;
}
button {
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  /* padding-right: 50%; */
}

@media screen and (max-width: 768px) {
  .Auth-form-container {
    width: 80%;
    margin-right: 10%;
  }
}

/* Button Styles */
.button-11 {
  margin-top: 15px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  /* padding-right: 50%; */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-11:hover {
  background-color: lightgray;
  color: black;
}

/* .button-11:active {
  background-color: lightgrey;
  color: black;
} */